a{text-decoration:underline; color:#0000FF;}
.articleSubtitle {
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
color: #000000;
}
.arthead {line-height : 25px; font-family : Verdana, Arial, Geneva; font-size : 24px; color:black; font-weight : bold;}
