<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a9137d08-af30-44a0-9206-0bd8398692c6" Publisher="CN=mengwangk" Version="1.0.0.1" />
  <Properties>
    <DisplayName>MessagingToolkit.Barcode.Windows8.WinRTDemo</DisplayName>
    <PublisherDisplayName>mengwangk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MessagingToolkit.Barcode.Windows8.WinRTDemo.App">
      <VisualElements DisplayName="MessagingToolkit.Barcode.Windows8.WinRTDemo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MessagingToolkit.Barcode.Windows8.WinRTDemo" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="image">
            <DisplayName>Image File</DisplayName>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.png</FileType>
              <FileType>.jpg</FileType>
              <FileType>.jpeg</FileType>
              <FileType>.tif</FileType>
              <FileType>.gif</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="svg">
            <DisplayName>SVG file</DisplayName>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.svg</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="eps">
            <DisplayName>EPS file</DisplayName>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.eps</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="documentsLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>