<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="6a77d851-b3ef-4433-8b44-a6bd0bbee22f"
            Publisher="CN=mengwangk"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MessagingToolkit.Core.Utilities.Win8</DisplayName>
    <PublisherDisplayName>mengwangk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MessagingToolkit.Core.Utilities.Win8.App">
        <VisualElements
            DisplayName="MessagingToolkit.Core.Utilities.Win8"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MessagingToolkit.Core.Utilities.Win8"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>